@import '../../../styles/styling-utils.scss';

$padding: 40px;

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: calc($min-desktop-width + 2 * $padding);
  margin: 0 auto;
  @include adaptive-property('padding-left', 20px, 15px, 10px);
  @include adaptive-property('padding-right', 20px, 15px, 10px);
  position: relative;
  @include adaptive-property('margin-top', 40px, 40px, 20px);
}
