.loader {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;

  &_center {
    height: 100vh;
  }

  .spinner {
    position: relative;
    border-radius: 50%;
    background-color: inherit;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 50%;
      background: conic-gradient(
                      from 180deg at 50% 50%,
                      #343a40 0deg,
                      rgba(65, 160, 23, 0) 360deg
      );
      animation: rotation 1s linear infinite;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.8);
    }

    &_s {
      width: 14px;
      height: 14px;

      &::after {
        width: 11px;
        height: 11px;
        background-color: #fff;
      }
    }

    &_m {
      width: 48px;
      height: 48px;

      &::after {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
