@import '../../../../styles/adaptive-properties.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: var(--bs-light);
  backdrop-filter: blur(74px);
  @include adaptive-property('border-radius', 10px, 8px, 6px);
  @include adaptive-property('padding-left', 40px, 30px, 20px);
  @include adaptive-property('padding-right', 40px, 30px, 20px);
  @include adaptive-property('padding-bottom', 40px, 30px, 20px);
  box-shadow: 0 1px 3px 0 var(--bs-light);
}

.title {
  width: 100%;
  @include adaptive-property('font-size', 24px, 22px, 20px);
  @include adaptive-property('height', 50px, 40px, 30px);
  background: var(--bs-bg-gray);
  box-shadow: 0 1px 3px 0 var(--bs-bg-gray);
  @include adaptive-property('border-top-left-radius', 6px, 4px, 2px);
  @include adaptive-property('border-top-right-radius', 6px, 4px, 2px);
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include adaptive-property('padding-left', 40px, 40px, 20px);
  @include adaptive-property('padding-right', 40px, 40px, 20px);
}

.cards {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  @include adaptive-property('gap', 20px, 18px, 16px);
  @include adaptive-property('margin-top', 18px, 16px, 14px);
}

.info {
  width: 100%;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  @include adaptive-property('font-size', 16px, 14px, 12px);
  @include adaptive-property('height', 40px, 35px, 30px);
  .name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}