@import '../../../../styles/adaptive-properties.scss';



.cards {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  @include adaptive-property('gap', 20px, 18px, 16px);
  @include adaptive-property('margin-top', 18px, 16px, 14px);
  @include adaptive-property('margin-bottom', 18px, 16px, 14px);
}
