@import '../../../styles/adaptive-properties.scss';

.head {
  position: sticky;
  top: 0;
  z-index: 15;
  &__th {
    height: 47px;
    cursor: pointer;
    padding: 16px 14px;
    text-align: left;
    color: white;
    background-color: var(--bs-light);
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    position: relative;
  }
}


.exhauster .head {
  &__tr {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 47px;
  }
}


.analytics .head {
  &__tr {
    border: 1px solid grey;
  }

  &__th {
    height: auto;
    background-color: var(--bs-secondary);
    @include adaptive-property('font-size', 14px, 13px, 12px);
  }
}
