@import '../../../styles/adaptive-properties.scss';

$padding: 0px;

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  @include adaptive-property('padding-left', $padding, $padding, 20px);
  @include adaptive-property('padding-right', $padding, $padding, 20px);
}
