@import '../../../styles/adaptive-properties.scss';

$padding: 0px;

.footer {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include adaptive-property('padding-left', $padding, $padding, 20px);
  @include adaptive-property('padding-right', $padding, $padding, 20px);
  @include adaptive-property('padding-bottom', 40px, 30px, 20px);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include adaptive-property('gap', 56px, 56px, 27px);

  .text {
    color: var(--bs-gray-dark);
    font-style: normal;
    font-weight: 400;
    @include adaptive-property('font-size', 18px, 18px, 14px);
  }
}