@import '../../styles/adaptive-properties.scss';

.container {
  svg {
    @include adaptive-property('width', 20px, 18px, 12px);
    @include adaptive-property('height', 20px, 18px, 12px);
  }
}

.error {
  svg * {
    fill: rgba(220, 53, 69, 0.5)
  }
}

.normal {
  svg * {
    fill:rgba(25, 135 ,84, 0.5)
  }
}

.warning {
  svg * {
    fill: rgba(255 ,193 ,7, 0.5)
  }
}

