
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    font-family: Inter, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul[class],
ol[class] {
    padding: 0;
    list-style: none;
}

button {
    color: inherit;
    border: none;
    font: inherit;
}

:root {
    --bs-blue: #0d6efd;
    --bs-white: #fff;
    --bs-gray: #272d31;
    --bs-bg-gray: #dedede;
    --bs-gray-dark: #343a40;
    --bs-primary:  #002f6c;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}

