@import '../../../../styles/adaptive-properties.scss';


.card {
  width: 100%;
  max-width: 450px;
  overflow: hidden;
  border: 1px solid var(--bs-secondary);
  @include adaptive-property('border-top-left-radius', 16px, 14px, 12px);
  @include adaptive-property('border-top-right-radius', 16px, 14px, 12px);
  box-shadow: 0 2px 10px 0 var(--bs-bg-gray);

  .title {
    white-space: nowrap;

    .name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      color: #FFFFFF;
      @include adaptive-property('font-size', 24px, 22px, 16px);
    }

    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    background: var(--bs-secondary);
    @include adaptive-property('padding-left', 16px, 14px, 12px);
    @include adaptive-property('padding-right', 16px, 14px, 12px);
    @include adaptive-property('padding-top', 20px, 18px, 16px);
    @include adaptive-property('padding-bottom', 20px, 18px, 16px);
  }

  .icon {
    @include adaptive-property('padding-left', 16px, 14px, 12px);
    @include adaptive-property('padding-right', 16px, 14px, 12px);
    @include adaptive-property('padding-top', 20px, 18px, 16px);
    @include adaptive-property('padding-bottom', 20px, 18px, 16px);

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .forecast {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    &__item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      line-height: normal;
      @include adaptive-property('font-size', 16px, 14px, 12px);
      @include adaptive-property('padding-left', 16px, 14px, 12px);
      @include adaptive-property('padding-right', 16px, 14px, 12px);

      &__date {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: normal;
        gap: 10px;
        width: 100%;

        span {
          @include adaptive-property('border-radius', 6px, 4px, 2px);
          background: var(--bs-bg-gray);
          @include adaptive-property('font-size', 20px, 18px, 16px);
        }
      }

      &__name {
        font-weight: bold;
        white-space: nowrap;
        @include adaptive-property('font-size', 20px, 18px, 16px);
      }

      &__button {
        background: #FFFFFF;
      }
    }

    &__replacement {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      line-height: normal;
      @include adaptive-property('padding-left', 16px, 14px, 12px);
      @include adaptive-property('padding-right', 16px, 14px, 12px);
      @include adaptive-property('padding-top', 20px, 18px, 16px);
      @include adaptive-property('margin-bottom', 20px, 18px, 16px);
      background: var(--bs-light);

      &__title {
        font-weight: bold;
        @include adaptive-property('font-size', 24px, 22px, 20px);
      }

      &__content {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: normal;
        @include adaptive-property('padding-left', 20px, 18px, 16px);
        @include adaptive-property('padding-left', 20px, 18px, 16px);
        @include adaptive-property('padding-right', 20px, 18px, 16px);
        @include adaptive-property('gap', 20px, 18px, 16px);

        @include adaptive-property('padding-top', 20px, 18px, 16px);
        @include adaptive-property('padding-bottom', 20px, 18px, 16px);
        @include adaptive-property('border-radius', 6px, 4px, 2px);

        .content__date {
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: normal;
          @include adaptive-property('font-size', 26px, 24px, 22px);
          @include adaptive-property('padding-left', 10px, 8px, 6px);
          @include adaptive-property('height', 42px, 38px, 36px);
          @include adaptive-property('padding-right', 10px, 8px, 6px);
          @include adaptive-property('border-radius', 6px, 4px, 2px);

          background: var(--bs-bg-gray);
        }

        .content__forecast {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;

          span {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
          }

          @include adaptive-property('font-size', 20px, 18px, 16px);
          flex-direction: column;
        }
      }
    }
  }
}

.property {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  @include adaptive-property('padding-left', 20px, 18px, 16px);
  @include adaptive-property('padding-right', 20px, 18px, 16px);
  @include adaptive-property('padding-bottom', 20px, 18px, 16px);

  @include adaptive-property('gap', 8px, 6px, 4px);

  &__content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include adaptive-property('gap', 8px, 6px, 4px);

    &__title {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @include adaptive-property('gap', 8px, 6px, 4px);
      @include adaptive-property('font-size', 20px, 18px, 13px);
      text-transform: lowercase;

      svg {
        max-width: 24px;
        max-height: 24px;
      }
    }

    &__value {
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 20px;
      @include adaptive-property('font-size', 20px, 18px, 13px);
      @include adaptive-property('gap', 8px, 6px, 4px);
    }
  }
}

.additional {
  overflow: hidden;
  height: auto;
  transition: height 0.3s ease-in-out;
}

.open {
  height: 0;
}

.normal,
.warning,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(220, 53, 69, 0.5);
  color: var(--bs-dark);
  @include adaptive-property('font-size', 14px, 10px, 8px);
}

.normal {
  background-color: rgba(25, 135, 84, 0.5)
}

.warning {
  background-color: rgba(255, 193, 7, 0.5);
}

.malfunctions {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid var(--bs-secondary);
  @include adaptive-property('gap', 6px, 5px, 4px);
  @include adaptive-property('margin-left', 20px, 18px, 16px);
  @include adaptive-property('margin-right', 20px, 18px, 16px);
  @include adaptive-property('margin-bottom', 20px, 18px, 16px);
  @include adaptive-property('margin-top', 20px, 18px, 16px);
  @include adaptive-property('padding', 10px, 8px, 6px);

  &__title,
  &__item {
    @include adaptive-property('padding-left', 10px, 8px, 6px);
    @include adaptive-property('padding-right', 10px, 8px, 6px);
    @include adaptive-property('padding-bottom', 3px, 2px, 2px);
    @include adaptive-property('padding-top', 3px, 2px, 2px);
    text-transform: lowercase;
    width: content-box;
    color: var(--bs-secondary);
    @include adaptive-property('font-size', 20px, 18px, 13px);
  }
  &__title{
    font-weight: bold;
    @include adaptive-property('font-size', 22px, 20px, 13px);
    text-transform: uppercase;
    color: var(--bs-dark);
  }
}