@import '../../styles/adaptive-properties.scss';

.table {
  background-color: var(--bs-white);
  border-spacing: 0;
  height: 100%;
  @include adaptive-property('margin-left', 16px, 14px, 12px);
  @include adaptive-property('margin-right', 16px, 14px, 12px);
  @include adaptive-property('margin-bottom', 20px, 18px, 16px);
}
.analytics table, tr, td{
  border: 1px solid white;
}