@import '../../styles/adaptive-properties.scss';

.table {
  background-color: var(--bs-white);
  border-spacing: 0;
  height: 100%;
  width: 100%;
  @include adaptive-property('padding-left', 16px, 14px, 12px);
  @include adaptive-property('padding-right', 16px, 14px, 12px);
  @include adaptive-property('padding-bottom', 20px, 18px, 16px);
}

.analytics table, tr, td {
  border: 1px solid white;
}
