@import '../../../../styles/adaptive-properties.scss';

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: content-box;
  white-space: nowrap;
  gap: 10px;
}

.header:active {
  transform: scale(0.98);
  box-shadow: 0 2px 10px 0 var(--bs-gray-dark);
}

.header {
  svg {
    path {
      fill: #FFFFFF;
    }

    @include adaptive-property('width', 20px, 18px, 16px);
    @include adaptive-property('height', 20px, 18px, 16px);
  }

  text-align: center;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  @include adaptive-property('font-size', 20px, 18px, 16px);
  @include adaptive-property('height', 40px, 36px, 32px);
  @include adaptive-property('padding-left', 32px, 28px, 24px);
  @include adaptive-property('padding-right', 32px, 28px, 24px);

  background: var(--bs-secondary);
  mix-blend-mode: screen;
  box-shadow: 0 3px 11px 0 var(--bs-secondary);
  @include adaptive-property('border-radius', 10px, 8px, 6px);
  transition: 0.2s all;
}

.card {
  svg {
    path {
      fill: var(--bs-gray-dark);
    }
    color: #FFFFFF;
    @include adaptive-property('width', 35px, 30px, 25px);
    @include adaptive-property('height', 35px, 30px, 25px);
  }
  background-color: var(--bs-white);
  @include adaptive-property('border-radius', 6px, 6px, 5px);
  box-shadow: 0 1px 1px 0 var(--bs-white);
  transition: 0.2s all;
  @include adaptive-property('padding-left', 16px, 14px, 12px);
  &:active {
    transform: scale(0.98);
    box-shadow: 0 0.5px 0.5px 0 var(--bs-white);
  }
}

.forecast {
  text-decoration: underline;
  background: initial;
  color: var(--bs-indigo);
}
