@import '../../../styles/styling-utils.scss';
@import '../../../styles/adaptive-properties.scss';


.main {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex: 1 1 auto;
  background: var(--bs-white);
  @include adaptive-property('margin-top', 40px, 30px, 20px);
  @include adaptive-property('margin-bottom', 40px, 30px, 20px);
  border-radius: 10px;
  @include adaptive-property('padding-left', 20px, 15px, 10px);
  @include adaptive-property('padding-right', 20px, 15px, 10px);
  @include adaptive-property('padding-top', 20px, 15px, 10px);
  @include adaptive-property('padding-bottom', 20px, 15px, 10px);
  box-shadow: 0 3px 11px 0 var(--bs-white);
}

